
.fancy {
    font-family: 'Great Vibes', cursive;
}

aside li {
    margin-bottom: 1rem;
}
#secondary-content{
    width: 60%;
    margin: 0 auto;
}

span.green {
    color: lightgreen;
}

span.orange {
    color: orange;
}

span.red  {
    color: red;
}
.mood {
    color: rgb(207, 206, 206)
}
.moodGrad {
    background-color: rgb(134, 24, 24);
    background-image: linear-gradient(rgb(163, 163, 17), rgb(139, 10, 10));
  }
.moodGrad2 {
    background-color: rgb(129, 86, 86, 0.5);
    background-image: linear-gradient(rgba(184, 171, 55, 0.1), rgb(207, 105, 105, 0.1));
    border-radius: 50%;
    box-shadow: 0 0 10px 10px rgb(168, 138, 73) inset;
    /* filter: blur(1px); */
  }
  .border-color{
      border-color: rgb(0, 0, 0);
  }

.btn-color{
    background-color: rgb(179, 164, 34);
}
.input-bg{
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(to bottom right, rgb(160, 63, 63), rgb(155, 155, 59));
}
.result-bg{
    background-color: rgba(211, 208, 208, 0.8);
}
.header-bg{
    background-color: rgb(139, 27, 27);
}